body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.header a{
  text-decoration: none;
  color: red;
}

.header a:visited {
  text-decoration: none;
  color: red;
}

.log-in{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
}

.navbar {
  border: 1px solid;
  border-color: red;
}

.home {
  border: 1px solid;
  border-color: red;
  background-color: aqua;
}

.album-detail {
  border: 1px solid;
  border-color: red;
}

.carousel {
  border: 1px solid;
    border-color: red;
    max-width: 600px;
    margin: 0 auto;
}

.friend-list {
  border: 1px solid;
  border-color: red;
}

.review-card {
  border: 1px solid;
  border-color: red;
}

.review-detail {
  border: 1px solid;
  border-color: red;
}

.review-list {
  border: 1px solid;
  border-color: red;
}

.reviews-container {
  border: 1px solid;
  border-color: red;
}

.user-profile {
  border: 1px solid;
  border-color: red;
}

.user {
  border: 2px solid;
  border-color: purple;
  font-family: monospace;
  font-size: x-large;
  color: goldenrod;
}

.user a:visited {
  text-decoration: none;
  color: goldenrod;
}

input#query{
  padding: 5px;
  width: 300px;
}

.search-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.search-container form{
  width: 33%;
  align-self: flex-end;
  box-sizing: content-box;
}

.search-item-container{
  width: 33%;
  align-self: flex-end;
  position: absolute;
  top: 30px;
}

.search-item{
  width: 300px;
  display: flex;
  margin-left: 110px;
  background: rgba(0,0,0,.1);
  padding: 5px;
  border-bottom: 1px solid white;
  z-index: 100000;
}