body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.log-in{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
}

.navbar {
  border: 1px solid;
  border-color: red;
}

.home {
  border: 1px solid;
  border-color: red;
  background-color: aqua;
}

.album-detail {
  border: 1px solid;
  border-color: red;
}

.carousel {
  border: 1px solid;
  border-color: red;
}

.friend-list {
  border: 1px solid;
  border-color: red;
}

.review-card {
  border: 1px solid;
  border-color: red;
}

.review-detail {
  border: 1px solid;
  border-color: red;
}

.review-list {
  border: 1px solid;
  border-color: red;
}

.reviews-container {
  border: 1px solid;
  border-color: red;
}

.user-profile {
  border: 1px solid;
  border-color: red;
}